<h1>Showing Artikel by ID</h1>
<h2><%= @article.title %></h2>
<p><%= @article.body %></p>

<%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<h2>Comments</h2>
<%= render @article.comments %>  

<h2>Add a comment:</h2>
<%= render 'comments/form' %>